*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: rgba(245, 222, 179, 0.386);
    background-image:url(img/img3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

}

div{
    margin-top: 20px;
    margin-left: 480px;
    width: 360px;
    height: 500px;
    background-color: rgb(198, 210, 177);
    padding-left: 160px;
    padding-top: 20px;
    border-radius: 20px;
}

h3 {
    color: white;
    font-size: 50px;
    margin-top: 80px;
    margin-left:540px ;
}
input[type="text"] {
    height: 30px;
    width:200px;
    border-radius: 5px;
}

input[type="password"] {
    height: 30px;
    width:200px;
    border-radius: 5px;
}

input[type="number"] {
    height: 30px;
    width:200px;
    border-radius: 5px;
}

input ::placeholder {
    padding-left: 60px;

}

button {
    color: white;
    width: 70px;
    height: 28px;
    background-color: blue;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 2px, 2px, 3px, 3px black;
}

a {
    color: white;
    text-decoration: none;
}

.lin {
    margin-top: 100px;
    margin-left: 500px;
    width: 400px;
    height: 200px;
    background-color: rgba(13, 13, 14, 0.418);
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 20px;
}
#check{
    margin-top: 100px;
    margin-left: 500px;
    width: 400px;
    height: 200px;
    background-color: rgba(13, 13, 14, 0.418);
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 20px;
}
.rem {
    color:yellow;
}
#check input {
    width:300px;
    margin-top: 10px;
}
#check input[type="checkbox"]{
    width:30px;
    align-items: left;
}
.lin input {
    width:300px;
    margin-top: 20px;
}

.lin button{
    margin-left: 10px;
}

p {
    color:red;
    font-size: 20px;
}

.text {
    color:white;
    font-size: 15px;
}

h4 {
    color:green;
    font-size: 40px;
}

h5 {
    color:brown;
    font-size: 45px;
    text-transform: capitalize;
}

h1 {
    color:blue;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

